.footer{
    height: 259px;
    background-color: #051A34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.redirect{
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 2rem;
    /* margin-left: auto; */
}

.socmed{
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 2rem;
}

.copyright{
    display: flex;
    flex-direction: row;
    color: #fff;
    /* gap: 2rem; */
}

/* .icon{
    width: 30px;
    height: 30px;
} */