.body{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 800px;
    width: 50%;
    background: #E2EFDB;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}